@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --white: #ffffff;
  --primary: #072196;
  --secondary: #00c8eb;
  --space: 1.5;
}
p {
  font-size: medium;
  line-height: var(--space);
}
p#satu {
  text-indent: 2em;
}
h1 {
  margin: 1em;
  font-size: 1.5em;
  line-height: var(--space);
}
h2,
h3 {
  color: var(--primary);
  line-height: var(--space);
}
body {
  font-family: "Nunito", sans-serif;
}
/* header {
  display: inline;
} */
.judul a {
  text-decoration: none;
  color: var(--primary);
  display: flex;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.judul a:hover {
  color: var(--secondary);
}
nav {
  background-color: var(--primary);
  padding: 20px;
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  justify-content: center;
  text-align: center;
}
nav li {
  list-style-type: none;
  margin-right: 20px;
}
.menu a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
}
.menu a:hover {
  color: var(--secondary);
}
main {
  display: flex;
  padding: 20px;
  overflow: auto;
}
aside {
  float: left;
  width: 25%;
  padding-right: 20px;
  text-align: center;
}
.profile {
  width: 70%;
  border-radius: 20px;
}
figcaption {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}
div#content {
  float: right;
  width: 75%;
  text-align: justify;
}
.card {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
footer {
  padding: 20px;
  color: var(--white);
  background-color: var(--secondary);
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  main {
    display: block;
  }
  aside,
  div#content {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  nav ul {
    display: none;
  }
  nav li {
    margin-bottom: 10px;
  }
  .toggle-navbar {
    display: flex;
    justify-content: right;
  }
  .hamburger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  .hamburger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--white);
    opacity: 1;
    right: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .hamburger-menu span:nth-child(1) {
    top: 2.5px;
  }
  .hamburger-menu span:nth-child(2) {
    top: 11px;
  }
  .hamburger-menu span:nth-child(3) {
    top: 21px;
  }
  .hamburger-menu.open span:nth-child(1) {
    top: 15px;
    transform: rotate(135deg);
  }
  .hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    right: -60px;
  }
  .hamburger-menu.open span:nth-child(3) {
    top: 14px;
    transform: rotate(-135deg);
  }
}
